{{define "dashboard"}}
    {{template "header"}}
    <body>
        <div class="ui container">
            {{template "navbar"}}
            <div id="containersRootDiv">
            </div>
        </div>
        <script>
            $.post("/listcontainers",{},function(result){

                result = JSON.parse(result);
                console.log(result);
                if (result.Message == "success"){
                    loadList(result.Data);
                }else{
                    alert("failed");
                }
            });
        </script>

        <script>
            function loadList(containers){
                for (i in containers){
                    //temp = temp + "<tr> <td>"+containers[i].DisplayName+" </td><td> " + containers[i].IsRunning +"</rd></tr>";
                    temp = "";
                    if (!containers[i].IsRunning){
                        temp =
                            `<div class="containerRoot">
                                <span class="containerElement DisplayName">`+containers[i].DisplayName+`</span>
                                <span class="containerElement RunningState">Not running</span>
                                <div class="ui teal button" onclick="settings('`+containers[i].Name+`')">settings</div>
                            <div>`
                    } else {
                        temp =
                            `<div class="containerRoot">
                                <span class="containerElement DisplayName">`+containers[i].DisplayName+`</span>
                                <span class="containerElement RunningState">Running</span>
                                <span class="containerElement IpAddress">`+containers[i].IPAddress+`</span>
                                <span class="containerElement MemUsed"> [ `+containers[i].MemUsed+` / </span>
                                <span class="containerElement MemLimit">`+containers[i].MemLimit+` ]</span>
                                <div class="ui teal button" onclick="settings('`+containers[i].Name+`')">settings</div>
                            <div>`
                    }
                    //console.log(temp);
                    $("#containersRootDiv").append(temp);
                }
            }

            function settings(name){
                console.log(name);
                window.location = "/settings/"+name;
            }
        </script>
    </body>
    {{template "footer"}}
{{end}}
