{{define "settings"}}
{{template "header"}}
<body>
    {{template "navbar"}}
    <div class="ui grid">
        <div class="four wide column">
            <div class="ui teal big vertical menu">
                <a class="active item">
                    <i class="facebook f icon"></i> Basic
                </a>
                <a class="item">
                    <i class="twitter icon"></i> Storage
                </a>
                <a class="item">
                    <i class="google plus icon"></i>Network
                </a>
                <a class="item">
                    <i class="linkedin icon"></i>Advanced
                </a>
            </div>
        </div>
        <div class="twelve wide stretched column">
            <div class="ui segment">
            </div>
      </div>
    </div>
</body>
{{template "footer"}}
{{end}}
