{{define "signup"}}
    {{template "header"}}
    {{template "navbar"}}
    <body>
    <script>
        $(document).ready(function() {
            $('.ui.form').form({
                fields: {
                    email: {
                        identifier  : 'email',
                        rules: [
                            {
                                type   : 'email',
                                prompt : 'Please enter your valid Email'
                            }
                        ]
                    },
                    password: {
                        identifier  : 'password',
                        rules: [
                            {
                                type   : 'empty',
                                prompt : 'Please enter your password'
                            },
                            {
                                type   : 'length[8]',
                                prompt : 'Your password must be at least 8 characters'
                            }
                        ]
                    },
                    rpassword: {
                        identifier  : 'rpassword',
                        rules: [
                            {
                                type   : 'empty',
                                prompt : 'Please enter your password'
                            },
                            {
                                type   : 'match[password]',
                                prompt : 'please check the password you have entered'
                            }
                        ]
                    }
                }
            });
        });
    </script>
    <body>
        <div class="ui middle aligned center aligned grid">
            <div class="column">
                <h2 class="ui teal image header">
                    <!--img src="" class="image"-->
                    <div class="content">Create Account</div>
                </h2>
                <form class="ui large form" action="/signup">
                    <div class="ui stacked segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="Name" placeholder="Name">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="email" placeholder="Email">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="username" placeholder="UserName">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="phone" placeholder="Phone number">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" name="password" placeholder="Password">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" name="rpassword" id="rpassword" placeholder="Reconfirm Password">
                            </div>
                        </div>
                        <div class="ui fluid large teal submit button">Signup</div>
                    </div>
                    <div class="ui error message"></div>
                </form>

                <div class="ui message">
                    Already have an account? <a href="login.html">Login</a>
                </div>
            </div>
        </div>
    </body>
{{end}}
